@import url(https://fonts.googleapis.com/css?family=Product+Sans);

.layout-topbar {
    background: #1565c0;
    border: 1px solid #1e88e5!important;
}
.topbar-subscriptions button {
    background: #1565c0!important;
    border-right: 1px solid #1565c0!important;
    color: #e0e0e0;
    transition: all .375s;
}
.topbar-subscriptions button:hover {
    background: #1565c0!important;
    border-right: 1px solid #1565c0!important;
    color: #e0e0e0;
}
.topbar-edit {
    background: #1565c0!important;
    border-left: 1px solid #1565c0!important;
    color: #e0e0e0;
    transition: all .375s;
}
.topbar-edit:hover {
    background: #1565c0!important;
    border-left: 1px solid #1565c0!important;
    color: #e0e0e0;
}
.topbar-defaults ul li a {
    color: #e0e0e0;
}
.layout-header {
    background: #1e88e5;
    border: 1px solid #1e88e5;
}
.layout-header {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
/*****************************************************/
.nav-tabs li a {
    color: white;
    border-bottom: 4px solid rgba(0,0,0,0);
    transition: all .375s;
}
.nav-tabs li a:hover {
    color: white;
    border-bottom: 4px solid white;
    background: rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
}
.nav-tabs .active a {
    background: rgba(0,0,0,0)!important;
    color: white!important;
    border: 1px solid rgba(0,0,0,0)!important;
    border-bottom: 4px solid white!important;
}
.layout-header-content {
    padding-top: 2px;
}
/******************************************************/
.account-nav {
    background: rgba(0,0,0,0)!important;
    border: 1px solid rgba(0,0,0,0)!important;
}
.profile a {
    font-family: roboto;
    color: white!important;
}
.has-mail a {
    font-family: roboto;
    color: white!important;
}
.inbox a {
    color: white!important;
}
.divider {
    background: rgba(255,255,255,1);
}
.manage a {
    color: white!important;
}
.logoff a {
    font-family: roboto;
    color: white!important;
}
/******************************************************/
#linkpost-tab a {
    color: #aaa!important;
}
#textpost-tab a {
    color: #aaa!important;
}
#linkpost-tab {
    border: 1px solid rgba(0,0,0,0)!important;
}
#textpost-tab {
    border: 1px solid rgba(0,0,0,0)!important;
}
/******************************************************/
.submit-link {
    background: #1e88e5;
    border: 1px solid #1e88e5;
    transition: all .275s;
    font-family: Roboto;
}
.submit-link:hover {
    background: #1976d2;
    border: 1px solid #1976d2;
}
.submit-link .fa-external-link {
    display: none;
}
.submit-link:active {
    background: #1565c0!important;
}
/******************************************************/
.submit-post {
    background: #1e88e5;
    border: 1px solid #1e88e5;
    transition: all .275s;
    font-family: Roboto;
}
.submit-post:hover {
    background: #1976d2;
    border: 1px solid #1976d2;
}
.submit-post .fa-pencil-square-o {
    display: none;
}
.submit-post:active {
    background: #1565c0!important;
}
/******************************************************/
.createsub-post {
    background: #1e88e5;
    border: 1px solid #1e88e5;
    transition: all .275s;
    font-family: Roboto;
}
.createsub-post:hover {
    background: #1976d2;
    border: 1px solid #1976d2;
}
.createsub-post .fa-pencil-square-o {
    display: none;
}
.createsub-post:active {
    background: #1565c0!important;
}
/******************************************************/
.unsubscribed {
    background: #1e88e5;
    border: 1px solid #1e88e5;
    color: white;
    transition: all .2s;
}
.unsubscribed:hover {
    background: #1976d2;
    border: 1px solid #1976d2;
    color: white;
}
.subscribed {
    background: #1e88e5;
    border: 1px solid #1e88e5;
    color: white;
    transition: all .2s;
}
.subscribed:hover {
    background: #1976d2;
    border: 1px solid #1976d2;
    color: white;
}
/******************************************************/
a.banner img{display: none !important;}

a.banner:after{content:url(http://i.imgur.com/j0Mwkh2.png);}
/*****************************************************/
.sub-name {
    font-family: Product Sans; 
} 
